body{background-color:green;background-size:cover;background-attachment:fixed}
#h11{color:white;text-align:center;font-size:1000px}
#h12{color:red;text-align:center;font-size:1000px}
#s{color:pink;text-align:center;font-size:1000px}
#w{color:green;text-align:center;font-size:1000px}
